name: CI

on:
  pull_request:

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run yt-dlp
        run: vendor/bin/yt-dlp --no-color --no-progress --print-json "https://www.youtube.com/watch?feature=endscreen&v=gvdf5n-zI14"

      - name: Run tests
        run: bundle exec rake test
